<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chou.mapper.CoordinateDepthMapper">

    <resultMap id="BaseResultMap" type="com.chou.dao.CoordinateDepth">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="x" column="x" jdbcType="DOUBLE"/>
            <result property="y" column="y" jdbcType="DOUBLE"/>
            <result property="z" column="z" jdbcType="DOUBLE"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,x,y,z
    </sql>

    <insert id="txt2DB">
        INSERT INTO coordinate_depth(x,y,z)
        VALUES
            (#{x},#{y},#{z})

    </insert>
</mapper>
